@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("/assets of crome/Sandip.png  " );
    background-blend-mode:overlay;
    background-size: 5;
    background-color: #1b1b1b;
    color: #fff;
    font-family: 'Cedarville Cursive', cursive;

    overflow: hidden;
    /* cursor: none; */
}

.container{
    padding: 60px 156px;
}
.profile-img img{
    /* width: 184px; */
    height: 184px;
    background-color: #fff;
    border-radius: 999px;
    background-size: cover;
}

.profile{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info h1{
    font-size: 53.97px;
    font-family: 'Cedarville Cursive', cursive;
}
.profile-info p{
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-family: 'Cedarville Cursive', cursive;


}

.social-link{
    display: flex;
    gap: 20px;
    font-size: 24px;
}

.social-link a:nth-child(1){
    color: #fff;
    background-color: #ff0073;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
    align-items: center;
}
.social-link a:nth-child(2){
    color: #fff;
    background-color: #00A337;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
    align-items: center;
}
.social-link a:nth-child(3){
    color: #fff;
    background-color: #1F07B8;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
    align-items: center;
}
.social-link a:nth-child(4){
    color: #fff;
    background-color: #00B2FF;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
    align-items: center;
}
.social-link a:nth-child(5){
    color: #fff;
    background-color: #1F07B8;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
    align-items: center;
}
.social-link a:nth-child(6){
    color: #fff;
    background-color: #000000;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
    align-items: center;
}
.social-link a:nth-child(7){
    color: #fff;
    background-color: #000000;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
    align-items: center;
}
.social-link a:nth-child(8){
    color: #fff;
    background-color: #000000;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
    align-items: center;
}
.goggle-search{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;}

.searchbar{
    border: 1px solid #fff;
    border-radius: 99px;
    padding: 0px 10px ;
    padding-left: 30px;
    background: #fff;
}
.goggle-search input {
    width: 550px;
    height: 48px;
    font-size: 18px;
    padding-right: 30px;
    background-color: transparent;
    font-family: 'Cedarville Cursive', cursive;
    border: none;
    color: #000;
}
.goggle-search input::placeholder{
    font-family: 'Cedarville Cursive', cursive;
    color: #000;
}
.goggle-search input:focus{
    outline: none;
}
.searchbar{
    display: flex;
    align-items: center ;
    gap: 20px;
}
.google img{
    width: 28px;
    padding-top: 7px;
}

.main-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.main-links h2{
    font-size: 16px;
    font-weight: normal;
}


.links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 90px;
}

.link{
    background-color: #2F2F2F;
    border: 1px solid #ffffff31;
    border-radius: 8px;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 30px;
}

.link:hover > a {
    background-color: #ffff;
    color: #000;
    transition: 0.3s;
    transition-delay: 0.1s;

}
.link:hover {
    background-color: #ffff;
    color: #000;
    transition: 0.3s;

}

.link a{
    text-decoration: none;
    color: #fff;
}


.link h2{
    font-size: 18px;
}
.link p{
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.love{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.love h1{
    text-shadow: 2px 2px 10px #ff0000;
    font-family: 'Kaushan Script', cursive;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
}
@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }


@media only screen and (max-width:400px){

    body{
        overflow-x: hidden;
        overflow-y: scroll;
        background-size: 400px;
    }
    .container{
        padding: 20px 10px;
    }


    .profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .profile-img img{
        height: 125px;
        background-color: #fff;
        border-radius: 999px;
        background-size: cover;
    }
    .profile-info{
        justify-content: center;
        align-items: center;
    }
    .profile-info h1{
        font-size: 32px;
    }
    .profile-info p{
        font-size: 10px;
    }
    .link{
        border-radius: 5px;
        width: 90vw;
        gap: 2  0px;
        padding: 10px 10px;
    }
    
    .goggle-search input {
        width: auto;
        height: 40px;
        border-radius: 5px;
        padding-left: 6px;
        padding-right: 5px;
    }
    
    .goggle-search{
        gap: 4px;
    }

    .searchbar{
        border: 1px solid #fff;
        border-radius: 99px;
        padding: 0px 10px ;
        padding-left: 10px;
        background: #fff;
    }
    .social-link{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        width: 280px; 
    }
    .love{
        margin-top: 5px;
    }
}
